<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Base CSS -->
    {% if use_flowers_css %}
        <link rel="stylesheet" href="{% static 'css/flowers_styles.css' %}">  <!-- Specific CSS -->
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Цветочный магазин{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">  <!-- Left-aligned items -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'flowers:flower-list' %}">Цветы</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:order_list' %}">Заказы</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser or user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:get_users' %}">Список пользователей</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav "> <!-- Right-aligned items -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:cart' %}">
                                <img src="{% static 'images/shopping-cart.png' %}" alt="Cart" width="20" height="20">
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.is_authenticated %}
                                {{ user.username }}
                            {% else %}
                                Вход
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -110px">
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'account:profile' %}">Профиль</a>
                                <a class="dropdown-item" href="{% url 'account:logout' %}">Выход</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'account:login' %}">Вход</a>
                                <a class="dropdown-item" href="{% url 'account:register' %}">Регистрация</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
    </nav>


    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>