{% extends 'base.html' %}
{% load my_filters %}

{% block content %}
    <h1>Order Details</h1>

    {% if order %}
        <p><strong>Order ID:</strong> {{ order.id }}</p>
        <p><strong>Order Date:</strong> {{ order.order_date }}</p>
        <p><strong>Total Amount:</strong> {{ order.total_amount }} RUB</p>

        <h2>Order Items</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Flower</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in flower_сart.all %}
                    <tr>
                        <td>{{ order_item.flower.name }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.flower.price }} RUB</td>
                        <td>{{ order_item.flower.price|calculate_subtotal:order_item.quantity }} RUB</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Shipping Information</h2>
        <p><strong>Address:</strong>  {% if order.shipping_address %}{{ order.shipping_address }}{% else %}Not provided{% endif %}</p>
        <p><strong>City:</strong> {% if order.shipping_city %}{{ order.shipping_city }}{% else %}Not provided{% endif %}</p>
        <p><strong>State/Province:</strong> {% if order.shipping_state %}{{ order.shipping_state }}{% else %}Not provided{% endif %}</p>
        <p><strong>Zip Code:</strong> {% if order.shipping_zip_code %}{{ order.shipping_zip_code }}{% else %}Not provided{% endif %}</p>

        {% if order.status %}
            <p><strong>Status:</strong> {{ order.status }}</p>
        {% endif %}


        <a href="{% url 'orders:order_update' order.id %}" class="btn btn-primary">Update Order</a>
        <a href="{% url 'orders:order_delete' order.id %}" class="btn btn-danger">Delete Order</a>
        <a href="{% url 'orders:order_list' %}" class="btn btn-secondary">Back to Orders</a>

    {% else %}
        <p>Order not found.</p>
    {% endif %}

{% endblock %}